name: Synchronize Mirrors

on:
  push:
    branches:
      - main

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps: 
      - uses: actions/checkout@v6
      - name: Synchronize SE GitLab
        run: |
          git remote add mirror https://oauth2:${{ secrets.SE_GIT_MIRROR }}@git.se.informatik.uni-kiel.de/shinhyungyang/kieker.git
          git rebase origin/main
          git push
